/* Behavior of the scroll fluid possible */

html {
	scroll-behavior: smooth;
}

/* Css Style*/

body {
	color: #161616;
}

a {
	color: #161616;
}

.visually-hidden {
	display: none;
}

.card-category {
	color: #d73953;
}

.section-tagline {
	color: #d73953;
}
